Emprego Já

<% @jobs.each do |job| %>
<h1> <%= link_to job.title, job_path(job) %> </h1>
 : <%= job.location %>
 : <%= job.company.name %>

 <% if job.featured %>
   <strong>Destaque</strong>
 <% end %>

<%end%>

<br>
<br>
<%= link_to 'New Company', new_company_path %>
